    <form class="col-12 comment-data">
        <div class="col-12 col-xl-3 col-md-5">
            <div class="col-md-12 py-3 card h-100">
                <div class="form-group">
                    <label for="comment-content">Comment:</label>
                    <textarea class="form-control" rows="10" cols="50" id="comment-content"></textarea>
                </div>      
            </div>
            <button type="submit" class="btn btn-success">Add Comment</button>

        </div>
    </form>
    <script src="/js/submit-comment.js"></script>


