* {
    font-family: sans-serif;
}

.login-page {
    background-color: rgb(161, 161, 165);
    min-width: 100vw;
    min-height: 100vh;
}

.signup-form, .login-form {
    border: 2px solid rgb(0, 0, 0);
    padding: 1%;
    border-radius: 5%;
    margin: 2% 0;
    max-width: 250px;
}

.dashboard, .comment-data {
    background-color: rgb(88, 88, 192);
    min-height: 100vh;
    
}

.post-data {
    margin: 0 auto;
}


.post-results {
    background-color: rgb(106, 142, 235);
    color: rgb(221, 215, 215);
    padding: 15%;
    border-radius: 5px;
    margin: 5% 0%;
    margin-right: 10%;
}

.post-delete {
    margin-left: 5%;
}

.post-comment {
    background-color: rgb(39, 151, 2);
    color: white;
    border-radius: 10px;
    padding: 15%;
    margin-top: 5%;
}

.post-author {
    font-size: 70%;
}

.post-content-results{
    font-size: 100%;
}

.text-content {
    font-size: 150%;
}
