* {
    font-family: sans-serif;
}

.login-page {
    background-color: rgb(161, 161, 165);
    min-width: 100vw;
    min-height: 100vh;
}

.signup-form, .login-form {
    border: 2px solid rgb(0, 0, 0);
    padding: 1%;
    border-radius: 5%;
    margin: 2% 0;
    max-width: 250px;
}

.post-data {
    margin: 0 auto;
}

.post-results {
    background-color: rgb(126, 117, 117);
    color: rgb(221, 215, 215);
    padding: 15%;
    border: 1px solid white;
}

.post-delete {
    margin-left: 5%;
}
